<p id="notice"><%= notice %></p>

<h1>Edit Ad</h1>
<%= form_for [@campaign, @ad ], html: { multipart: true } do |f| %>
<% if @ad.errors.any? %>
<div class="error_message">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @ad.errors.full_messages %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<div class="field">
  <%= f.label :width %>
  <%= f.text_field :width %>
</div>

<div class="field">
  <%= f.label :height %>
  <%= f.text_field :height %>
</div>

<div class="action"><%= f.submit %></div>

<% end %>
