<h1>Sign Up</h1>
<%= form_for @agency do |f| %>
<% if @agency.errors.any? %>
<div class="error_message">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @agency.errors.full_messages %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :business_name %>
  <%= f.text_field :business_name %>
</div>

<div class="field">
  <%= f.label :founded_date %>
  <%= f.text_field :founded_date %>
</div>

<div class="field" >
  <%= f.label :pasword %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="actions"><%= f.submit %></div>

<% end %>
