<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <h1>Edit Campaign</h1>
  <%= bootstrap_form_for [@client, @campaign] do |f| %>
  <% if @campaign.errors.any? %>
    <div class="error_message">
      <h2>Form is invalid</h2>
        <ul>
          <% for message in @campaign.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :campaign_name %>
  </div>
  <div class="field">
    <%= f.text_field :launch_date, "data-provide" => "datepicker" %>
  </div>

  <div class="actions"><%= f.submit %></div>

<% end %>
</div>
