<!DOCTYPE html>
<html>
<head>
  <title>DevSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
</head>
<body id="page-top">

<!-- Fixed navbar -->

<% if !current_user %>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu
            </button>
            <% if current_user %>
              <li><%= link_to "Logout", logout_path, class: "navbar-brand page-scroll" %></li>
            <% else %>
              <li><%= link_to "Login", login_path, class: "navbar-brand page-scroll" %></li>
            <% end %>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#welcome/index">Home</a></li>
                <li><a class="page-scroll" href="#about">About</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- check to see whether user is a client or agency -->
<!-- nav bar for client view -->
<% elsif current_user && is_client? %>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu
            </button>
            <a id="brand" class="navbar-brand" href="#welcome/index">Ad Agency</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Home", campaigns_path %></li>
                <li><%= link_to "Campaigns", campaigns_path %></li>
                <li><%= link_to "Logout", logout_path %></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
  <p>Welcome, <%= current_user.business_name %>!</p>

<!-- navbar for agency view -->
<% elsif current_user && is_agency? %>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu
            </button>
            <a id="brand" class="navbar-brand" href="#welcome/index">Ad Agency</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Home", clients_path %></li>
                <li><%= link_to "Clients", clients_path %></li>
                 <li><%= link_to "Logout", logout_path %></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div><p>Welcome, <%= current_user.business_name %>!</p></div>
<% else %>

  <!-- <nav>You're not logged in</nav> -->

<% end %>

<%= yield %>

    <!-- Theme JavaScript -->
</body>
    <script src="../javascript/application.js"></script>
</html>

